.base_square{
    height: 2000px;
    width: 2px;
}
/* The main structure for RELATIVE house */

.h1_base{
    height: 800px;
    width: 600px; 
}

.h1_roof{
    height: 20px;
    width: 225px;
    border-bottom: 139px solid rgba(151, 18, 13, 0.932);
    border-left: 190px solid transparent;
    border-right: 190px solid transparent;
    left: 45px;
    position: relative;
    z-index:6;
    
}
.h1_wall_floor-1{
    height: 168px;
    width: 500px;
    background-color: rgb(204, 201, 11);
    top: 0;
    left: 90px;
    position: relative;
    border:5px solid rgb(102, 14, 2);
    z-index: 6;
    
    
}
.h1_wall_floor-2{
    height: 168px;
    width: 500px;
    background-color:  rgb(204, 201, 11);
    top: 0;
    left: 90px;
    position: relative;
    border:5px solid rgb(102, 14, 2);
    z-index: 6;
}


.h1_window_1{
    height: 105px;
    width: 155px;
    border: 2px solid black;
    top: 20px;
    left: 25px;
    position: relative;
    background-color: rgba(147, 197, 238, 0.993);
    z-index: 7;
}
.h1_window_2{
    height: 81px;
    width: 125px;
    border: 2px solid black;
    top: -89px;
    left: 363px;
    position: relative;
    background-color: rgba(147, 197, 238, 0.993);
    z-index: 6;
}
.h1_window_3{
    height: 127px;
    width: 63px;
    border: 2px solid black;
    top: -174px;
    left: 292px;
    position: relative;
    background-color: rgba(147, 197, 238, 0.993);
    z-index: 6;
}
.h1_bal_handle{
        width: 14px;
    height: 9px;
    background: rgb(5, 7, 8);
    border-radius: 50%;
    position: relative;
    z-index: 8;
    top: 68px;
    left: 20px;
}


.h1_window_4{
    width: 233px;
    height: 80px;
    background: rgba(147, 197, 238, 0.993);
    top: 39px;
    left: 25px;
    position: relative;
    border: 2px solid black;
    z-index: 7;
}

.h1_win1-frame1 {
    background: rgba(49, 50, 51, 0.973);
    height: 105px;
    width: 5px;
    top: 0px;
    position: relative;
    left: 40px;
    z-index: 8;
}
.h1_win1-frame2{
    height: 5px;
    width: 156px;
    background: rgba(49, 50, 51, 0.973);
    top: 0px;
    position: absolute;
    left: -40px;
    top: 40px;
    z-index: 8;
}
.h1_win2-frame1{
    background: rgba(49, 50, 51, 0.973);
    height: 80px;
    width: 5px;
    top: 0px;
    position: relative;
    left: 40px;
    z-index: 8;
}
.h1_win2-frame2{
    height: 5px;
    width: 125px;
    background: rgba(49, 50, 51, 0.973);
    top: 0px;
    position: absolute;
    left: -40px;
    top: 40px;
    z-index: 8;
}
.h1_win3-frame1{
    background: rgba(49, 50, 51, 0.973);
    height: 127px;
    width: 5px;
    top: 0px;
    position: relative;
    left: 22px;
    z-index: 8;
}
.h1_win3-frame2{
    height: 5px;
    width: 63px;
    background: rgba(49, 50, 51, 0.973);
    position: absolute;
    left: -22px;
    top: 80px;
    z-index: 8;
}
.h1_win4-frame1{
    background: rgba(49, 50, 51, 0.973);
    height: 80px;
    width: 5px;
    top: 0px;
    position: relative;
    left: 115px;
    z-index: 8;
}
.h1_win4-frame2{
    height: 5px;
    width: 232px;
    background: rgba(49, 50, 51, 0.973);
    top: 0px;
    position: absolute;
    left: -115px;
    top: 49px;
    z-index: 8;
}
.h1_balcony{
    height: 6px;
    width: 233px;
    background-color: black;
    position: relative;
    top: 162px;
    left: 269px;
    z-index: 7;
}
.h1_crossbar_left{
    height: 70px;
    width: 5px;
    top: -70px;
    left: 0px;
    position: relative;
    background-color: black;
    z-index: 7;
    z-index: 7; 
}
.h1_crossbar_right{
    height: 70px;
    width: 5px;
    top: -140px;
    left: 228px;
    position: relative;
    background-color: black;
    z-index: 7;
    z-index: 7;
}
.h1_surface{
    height: 70px;
    width: 223px;
    background-color: rgba(0, 253, 253, 0.418);
    position: relative;
    z-index: 9;
    top: -210px;
    left: 5px;
}
.h1_door{
    height: 106px;
    width: 62px;
    background-color: rgb(48, 29, 13);
    position: relative;
    border: 10px solid black;
    z-index: 7;
    top: -40px;
    left: 342px;
}
.h1_door-handle{
    width: 14px;
    height: 9px;
    background: #83A7C9;
    border-radius: 50%;
    position: relative;
    z-index: 8;
    top: 50px;
    left: 3px;
}
.h1_foundation{
    height: 0px;
    width: 520px;
    background-color: black;
    position: relative;
    border: 10px solid black;
    z-index: 6;
    top: 0px;
    left: 75px;
}

/* The main structure for ABSOLUTE house */
.h2_base{
    height: 450px;
    width: 300px;
}
.h2_roof{
    height: 20px;
    width: 225px;
    border-bottom: 139px solid rgba(151, 18, 13, 0.932);
    border-left: 190px solid transparent;
    border-right: 190px solid transparent;
    left: 45px;
    top: 660px;
    position: absolute;
    z-index: 6;
}
.h2_wall_floor-1{
    height: 168px;
    width: 500px;
    background-color: rgb(204, 201, 11);
    top: 819px;
    left: 90px;
    position: absolute;
    border: 5px solid rgb(102, 14, 2);
    z-index: 6;
    
}
.h2_wall_floor-2{
    height: 168px;
    width: 500px;
    background-color: rgb(204, 201, 11);
    top: 996px;
    left: 90px;
    position: absolute;
    border: 5px solid rgb(102, 14, 2);
    z-index: 6;
}

.h2_window_1{
    height: 105px;
    width: 155px;
    border: 2px solid black;
    top: 20px;
    left: 25px;
    position: absolute;
    background-color: rgba(147, 197, 238, 0.993);
    z-index: 7;
}
.h2_window_2{
    height: 81px;
    width: 125px;
    border: 2px solid black;
    top: 25px;
    left: 363px;
    position: absolute;
    background-color: rgba(147, 197, 238, 0.993);
    z-index: 6;
}
.h2_window_3{
    height: 127px;
    width: 63px;
    border: 2px solid black;
    top: 25px;
    left: 292px;
    position: absolute;
    background-color: rgba(147, 197, 238, 0.993);
    z-index: 6;
}
.h2_bal_handle{
    width: 14px;
    height: 9px;
    background: rgb(5, 7, 8);
    border-radius: 50%;
    position: absolute;
    z-index: 8;
    top: 68px;
    left: 43px;
}

.h2_window_4{
    width: 233px;
    height: 80px;
    background: rgba(147, 197, 238, 0.993);
    top: 39px;
    left: 25px;
    position: absolute;
    border: 2px solid black;
    z-index: 7;
}

.h2_win1-frame1 {
    background: rgba(49, 50, 51, 0.973);
    height: 105px;
    width: 5px;
    top: 0px;
    position: absolute;
    left: 40px;
    z-index: 8;
}
.h2_win1-frame2{
    height: 5px;
    width: 156px;
    background: rgba(49, 50, 51, 0.973);
    top: 0px;
    position: absolute;
    left: -40px;
    top: 40px;
    z-index: 8;
}
.h2_win2-frame1{
    background: rgba(49, 50, 51, 0.973);
    height: 80px;
    width: 5px;
    top: 0px;
    position: absolute;
    left: 40px;
    z-index: 8;
}
.h2_win2-frame2{
    height: 5px;
    width: 125px;
    background: rgba(49, 50, 51, 0.973);
    top: 0px;
    position: absolute;
    left: -40px;
    top: 40px;
    z-index: 8;
}
.h2_win3-frame1{
    background: rgba(49, 50, 51, 0.973);
    height: 127px;
    width: 5px;
    top: 0px;
    position: absolute;
    left: 22px;
    z-index: 8;
}
.h2_win3-frame2{
    height: 5px;
    width: 63px;
    background: rgba(49, 50, 51, 0.973);
    top: 0px;
    position: absolute;
    left: 0px;
    top: 80px;
    z-index: 8;
}
.h2_win4-frame1{
    background: rgba(49, 50, 51, 0.973);
    height: 80px;
    width: 5px;
    top: 0px;
    position: absolute;
    left: 115px;
    z-index: 8;
}
.h2_win4-frame2{
    height: 5px;
    width: 232px;
    background: rgba(49, 50, 51, 0.973);
    top: 0px;
    position: absolute;
    left: -115px;
    top: 49px;
    z-index: 8;
}
.h2_balcony{
    height: 6px;
    width: 233px;
    background-color: black;
    position: absolute;
    top: 162px;
    left: 269px;
    z-index: 7;
}
.h2_crossbar_left{
    height: 70px;
    width: 5px;
    top: -70px;
    left: 0px;
    position: absolute;
    background-color: black;
    z-index: 7;
}
.h2_crossbar_right{
    height: 70px;
    width: 5px;
    top: -69px;
    left: 228px;
    position: absolute;
    background-color: black;
    z-index: 7;
}
.h2_surface{
    height: 70px;
    width: 223px;
    background-color: rgba(0, 253, 253, 0.418);
    position: absolute;
    z-index: 9;
    top: -70px;
    left: 5px;
}
.h2_door{
    height: 106px;
    width: 62px;
    background-color: rgb(48, 29, 13);
    position: absolute;
    border: 10px solid black;
    z-index: 7;
    top: 43px;
    left: 342px;
}
.h2_door-handle{
    width: 14px;
    height: 9px;
    background: #83A7C9;
    border-radius: 50%;
    position: absolute;
    z-index: 8;
    top: 50px;
    left: 3px;
}
.h2_foundation{
    height: 0px;
    width: 520px;
    background-color: black;
    position: absolute;
    border: 10px solid black;
    z-index: 6;
    top: 1174px;
    left: 75px;
}


/* The main structure for FIXED house */

.h3_roof{
    height: 20px;
    width: 225px;
    border-bottom: 139px solid rgba(151, 18, 13, 0.932);
    border-left: 190px solid transparent;
    border-right: 190px solid transparent;
    left: 45px;
    top: 210px;
    position: fixed;
    z-index: 1;
}
.h3_wall_floor-1{
    height: 168px;
    width: 500px;
    background-color: rgb(204, 201, 11);
    top: 369px;
    left: 90px;
    position: fixed;
    border: 5px solid rgb(102, 14, 2);
    z-index: 1;
    
    
}
.h3_wall_floor-2{
    height: 168px;
    width: 500px;
    background-color: rgb(204, 201, 11);
    top: 546px;
    left: 90px;
    position: fixed;
    border: 5px solid rgb(102, 14, 2);
    z-index: 1;
}


.h3_window_1{
    height: 105px;
    width: 155px;
    border: 2px solid black;
    top: 397px;
    left: 122px;
    position: fixed;
    background-color: rgba(147, 197, 238, 0.993);
    z-index: 2;
}
.h3_window_2{
    height: 81px;
    width: 125px;
    border: 2px solid black;
    top: 400px;
    left: 459px;
    position: fixed;
    background-color: rgba(147, 197, 238, 0.993);
    z-index: 2;
}
.h3_window_3{
    height: 127px;
    width: 63px;
    border: 2px solid black;
    top: 400px;
    left: 389px;
    position: fixed;
    background-color: rgba(147, 197, 238, 0.993);
    z-index: 2;
}
.h3_bal_handle{
    width: 14px;
    height: 9px;
    background: rgb(5, 7, 8);
    border-radius: 50%;
    position: fixed;
    z-index: 3;
    top: 468px;
    left: 433px;
}

.h3_window_4{
       width: 233px;
    height: 80px;
    background: rgba(147, 197, 238, 0.993);
    top: 597px;
    left: 119px;
    position: fixed;
    border: 2px solid black;
    z-index: 2;
}

.h3_win1-frame1 {
    background: rgba(49, 50, 51, 0.973);
    height: 105px;
    width: 5px;
    top: 399px;
    position: fixed;
    left: 165px;
    z-index: 3;
}
.h3_win1-frame2{
    height: 5px;
    width: 155px;
    background: rgba(49, 50, 51, 0.973);
    position: fixed;
    left: 125px;
    top: 441px;
    z-index: 3;
}
.h3_win2-frame1{
    background: rgba(49, 50, 51, 0.973);
    height: 80px;
    width: 5px;
    top: 402px;
    position: fixed;
    left: 499px;
    z-index: 3;
}
.h3_win2-frame2{
    height: 5px;
    width: 125px;
    background: rgba(49, 50, 51, 0.973);
    position: fixed;
    left: 461px;
    top: 440px;
    z-index: 3;
}
.h3_win3-frame1{
    background: rgba(49, 50, 51, 0.973);
    height: 127px;
    width: 5px;
    top: 402px;
    position: fixed;
    left: 412px;
    z-index: 3;
}
.h3_win3-frame2{
    height: 5px;
    width: 63px;
    background: rgba(49, 50, 51, 0.973);
    position: fixed;
    left: 391px;
    top: 478px;
    z-index: 3;
}
.h3_win4-frame1{
    background: rgba(49, 50, 51, 0.973);
    height: 80px;
    width: 5px;
    top: 599px;
    position: fixed;
    left: 237px;
    z-index: 3;
}
.h3_win4-frame2{
    height: 5px;
    width: 232px;
    background: rgba(49, 50, 51, 0.973);
    position: fixed;
    left: 121px;
    top: 649px;
    z-index: 3;
}
.h3_balcony{
    height: 6px;
    width: 233px;
    background-color: black;
    position: fixed;
    top: 536px;
    left: 364px;
    z-index: 3;
}
.h3_crossbar_left{
    height: 70px;
    width: 5px;
    top: 466px;
    left: 364px;
    position: fixed;
    background-color: black;
    z-index: 3;
}
.h3_crossbar_right{
    height: 70px;
    width: 5px;
    top: 467px;
    left: 592px;
    position: fixed;
    background-color: black;
    z-index: 3;
}
.h3_surface{
    height: 70px;
    width: 223px;
    background-color: rgba(0, 253, 253, 0.418);
    position: fixed;
    z-index: 5;
    top: 466px;
    left: 369px;
}
.h3_door{
    height: 106px;
    width: 62px;
    background-color: rgb(48, 29, 13);
    position: fixed;
    border: 10px solid black;
    z-index: 2;
    top: 593px;
    left: 437px;
}
.h3_door-handle{
    width: 14px;
    height: 9px;
    background: #83A7C9;
    border-radius: 50%;
    position: fixed;
    z-index: 3;
    top: 656px;
    left: 450px;
}

.h3_foundation{
    height: 0px;
    width: 520px;
    background-color: black;
    position: fixed;
    border: 10px solid black;
    z-index: 1;
    top: 724px;
    left: 75px;
}